/*
|--------------------------------------------------
| Booking Widget
|--------------------------------------------------
*/

.book-now-widget {
    margin-top: 30px;
    max-width: 500px;
}
.book-now-widget input {
    display: inline-block;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #6c9ca6;
    text-align: center;
    text-transform: uppercase;
    font-family: bebas-neue-pro, sans-serif;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px black;
    width: 100px;
}
.book-now-widget select {
    display: inline-block;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #6c9ca6;
    text-align: center;
    text-transform: uppercase;
    font-family: bebas-neue-pro, sans-serif;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px black;
    width: 100px;
}
.book-now-widget button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: bebas-neue-pro, sans-serif;
    background-color: #6c9ca6;
    box-shadow: 5px 5px 15px black;
    width: 180px;
}
.book-now-widget input:nth-last-child(1) {
    color: #ffffff;
    background-color: #6c9ca6;
}
#ui-datepicker-div {
    display: none;
}
.ui-datepicker {
    background-color: #ffffff;
    padding: 10px;
}
.ui-datepicker-calendar th {
    padding: 0 5px;
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    font-size: 14px;
}
.ui-datepicker-calendar td {
    padding: 0 5px;
    border: 1px solid #eeeeee;
    font-size: 14px;
    text-align: center;
}
.ui-datepicker-next {
    float: right;
    text-align: center;
}
.ui-datepicker-title {
    font-size: 20px;
    display: block;
    padding: 10px;
    text-align: center;
}
.ui-datepicker-today {
    background-color: #c5eaff;
}

.ui-datepicker-unselectable.ui-state-disabled {
    background-color: #f2f2f2;
}

/*
|--------------------------------------------------
| Forms
|--------------------------------------------------
*/

.nf-form-fields-required {
    padding: 20px 0;
    font-size: 12px;
    font-style: italic;
    color: #999;
}

.nf-form-content input:not([type='button']) {
    background: #fff;
}

.ninja-forms-field.nf-element {
    background-color: #fff;
}

.nf-field-element .ninja-forms-field.nf-element {
    background-color: #666666;
    border-bottom: 1px solid #ffffff;
}

.submit-wrap .ninja-forms-field[type='button'] {
    background-color: #6c9ca6;
    color: #fff;
    width: 100%;
    text-transform: uppercase;
}
.nf-field-element[type='text'] {
    color: #fff;
}
.nf-field-element .ninja-forms-field.nf-element::placeholder {
    color: #fff;
}
.nf-field-label label {
    display: none;
}
.nf-form-fields-required {
    color: #fff;
}
.nf-before-form-content {
    display: none !important;
}

/*
|--------------------------------------------------
| Sign Up
|--------------------------------------------------
*/
.input-field {
    label {
        display: none;
    }
    input {
        background: transparent;
        border: none;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        box-shadow: none;
        &::-webkit-input-placeholder {
            /* Edge */
            color: #fff;
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #fff;
        }
        ::placeholder {
            color: #fff;
        }
    }
    @include for-phone-ld {
        width: 100%;
    }
}
#SignUp {
    input[type='checkbox'] {
        position: relative;
        margin: 0.4rem;
    }
    input[type='checkbox']:before {
        content: ' ';
        background: #000;
        border: 1px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 20px;
        height: 20px;
        transition: background 0.3s ease-in-out;
    }
    input[type='checkbox']:checked:before {
        background: #5d5d5d;
    }
    input[type='checkbox']:checked:after {
        content: none;
    }
}
