html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
	font-family: haboro-soft, sans-serif;
    font-size: 17px;
    line-height: 23px;
    color: #414042;
    font-style: normal;
}

p {
	font-family: haboro-soft, sans-serif;
    font-size: 17px;
    line-height: 23px;
    color: #414042;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: bebas-neue-pro, sans-serif;
	font-style: normal;
}

a {
    color: $colour-grey;
}
